{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} SignUp {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card mt-5">
          <div class="card-body">
            <a href="#" class="d-flex justify-content-center mt-3">
              <img src="{% static 'assets/images/logo-dark.svg' %}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                  <p class="f-16 mt-2">Enter your credentials to continue</p>
                </div>
              </div>
            </div>
            <form method="post">
              {% csrf_token %}

              {% for field in form %}
              <div class="form-floating mb-3">
                {{field}}
                <label for="floatingInput">{{ field.label }}</label>
              </div>
              <span class="text-danger">{{ field.errors }}</span>
              {% endfor %}
              <div class="form-check mt-3s">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                <label class="form-check-label" for="customCheckc1">
                  <h5>Agree with <span>Terms & Condition.</span></h5>
                </label>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary p-2">Sign Up</button>
              </div>
            </form>
            <hr />
            <h5 class="d-flex justify-content-center">Already have an account? 
              <a class="ms-2" href="{% url 'login' %}">Login</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
